<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body ng-app="stocks" ng-controller="stocksCtrl">
    <div class="container" id="container">
        <div class="row" id="datePickerRow">
            <div class="col col-xs-6 col-sm-6">
                <div style="display:inline-block; min-height:290px;">
                    <div uib-datepicker ng-model="sixMonthsBack" ng-change="selectMin(startDate)" class="well well-sm" datepicker-options="options"></div>
                </div>
            </div>
            <div class="col col-xs-6 col-sm-6">
                <div style="display:inline-block; min-height:290px;">
                    <div uib-datepicker ng-model="endDate" ng-change="selectMax(endDate)" class="well well-sm" datepicker-options="options"></div>
                </div>
            </div>
        </div>
        <div class="row" id="chartsRow">
            <div class="col col-xs-12">
                <stock-price-chart stock-data="stockData" chart-data="chartData"></stock-price-chart>
                <stock-high-low-chart stock-data="stockData" chart-data="chartData"></stock-high-low-chart>
            </div>
            <!--<stock-chart chart-data="chartData"></stock-chart>-->
        </div>
        <div class="row" id="stockInfo">
            <div class="col col-xs-12">
                <stock-info stock-data = "stockData"></stock-info>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.4.4/d3.js"></script>
<script src="data.js"></script>
<script src="vendor/angular.js"></script>
<script src="app.js"></script>
<script src="vendor/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="controllers/stocks-controller.js"></script>
<script src="services/stock-service.js"></script>
<script src="directives/stock-chart.js"></script>
<script src="directives/stock-price-chart.js"></script>
<script src="directives/stock-high-low-chart.js"></script>
<script src="directives/stock-info.-table.js"></script>
</body>
</html>