<div class="row" id="datePickerRow">
    <div class="col col-xs-6 col-sm-6">
        <div style="display:inline-block; min-height:290px;">
            <div uib-datepicker ng-model="sixMonthsBack" ng-change="selectMin(sixMonthsBack)" class="well well-sm"
                 datepicker-options="options"></div>
        </div>
    </div>
    <div class="col col-xs-6 col-sm-6">
        <div style="display:inline-block; min-height:290px;">
            <div uib-datepicker ng-model="endDate" ng-change="selectMax(endDate)" class="well well-sm"
                 datepicker-options="options" id="end"></div>
        </div>
    </div>
</div>
<div class="row" id="chartsRow">
    <div class="col col-xs-12">
        <stock-price-chart stock-data="stockData" chart-data="chartData"></stock-price-chart>
        <stock-high-low-chart stock-data="stockData" chart-data="chartData"></stock-high-low-chart>
    </div>
</div>
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="stock info">
        <div class="row" id="stockInfo">
            <div class="col col-xs-12">
                <stock-info stock-data="stockData"></stock-info>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="stock details">
        <div class="row" id="stockDetails">
            <div class="col col-xs-12">
                <stock-details-panel stock-data="stockData"></stock-details-panel>
            </div>
        </div>
    </uib-tab>
</uib-tabset>

